@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D9AC84, #594C45);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #2923209d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 { 
    color: #594C45;
    text-align: center;
    text-shadow: 1px 1px 2px #3d342f9d;
}

h2 {
    color: #260101;
}

p {
    text-align: justify;
}